header {
  .toplogo {
    img {
      max-width: 230px;
    }
  }
  .colorlogo {
    display:none;
    img {
      max-width: 150px;
      @media(max-width: $screen-sm) {
        width:100px;
      }
    }
  }
  .navbar {
    @media(max-width: $screen-sm) {
      height:70px;
    }
    color: #FFF;
    .navbar-nav {
      margin: 45px 0 0;
      > li > a {
        color: #FFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 16px;
        font-family: 'Cabin', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        &:active,
        &:hover,
        &:visited {
          background: none;
        }
      }
    }
  }
  .social-holder {
    position: relative;
    width: 100%;
    .social-media {
      margin: 10px 0 10px;
      position: absolute;
      right: 15px;
      font-size: 22px;
      @media (max-width:$screen-sm){
        display:none;
      }
      i {
        padding-right: 10px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  &.sticky {
    .navbar-fixed-top {
      background: #FFF;
      box-shadow: 1px 1px 1px #333;
    }
    .navbar {
      color: #454c54;
      .navbar-nav {
        margin: 30px 0 0;
        > li > a {
          color: #454c54;
          font-size: 15px;
          text-shadow: none;
          &:active,
          &:hover,
          &:visited {
            background: none;
          }
        }
      }
      i {
        font-size: 18px;
        &.facebook {
          color:$facebook_color;
        }
        &.instagram {
          color:$instagram_color;
        }
      }
    }
.social-media {
  margin-top: 0;
}
  }
  .navbar-toggle {
    border:1px solid $hasson-brand;
    .icon-bar {
      background:$hasson-brand;
    }
  }
}
